@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
@import "tailwindcss";

.bground {
  background-image: url(../assets/home/headerimage.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .home-header {
    background-image: url(../assets/home/Mobview-bg.png);
    background-position: center;
    background-size: cover;
  }
}

.linear-text{
  background: linear-gradient(to right, #AED5C6, #037B76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: auto;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  width: fit-content;
}


.animate-marquee {
  animation: marquee 30s linear infinite;
}

.marquee-wrapper {
  position: relative;
  width: 100%;
}

.animate-marqueeAbout {
  animation: marqueeAbout 30s linear infinite;
}

@keyframes marqueeAbout {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
